# Logs
logs/
*.log

# Datos de Docker
volumes/

# Archivos temporales de Odoo
filestore/
sessions/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de entornos virtuales
venv/
env/
.env

# Cache de Python
__pycache__/
*.pyc
*.pyo

# Configuraciones locales
.local/

# Archivos de backup
*.backup
*.dump

# Datos sensibles (si los hubiera)
secrets/
